[Desktop Entry]
Name=Quake Glx
GenericName=Darkplaces port of idsoftware's Quake
Exec=darkplaces-glx
Terminal=false
Type=Application
Categories=Game;
Icon=darkplaces
StartupNotify=false
